.frame-child {
  height: 48px;
  width: 117px;
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
}
.home {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-white);
  text-align: left;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4), 0 1px 0 rgba(0, 0, 0, 0.4),
    -1px 0 0 rgba(0, 0, 0, 0.4), 0-1px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.rectangle-parent {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-smi) 45px var(--padding-3xs) 28px;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-item,
.group-button:hover,
.rectangle-container:hover,
.rectangle-group:hover,
.rectangle-parent:hover {
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.frame-item {
  height: 48px;
  width: 117px;
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  display: none;
}
.assignments {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.frame-inner,
.rectangle-group {
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
}
.rectangle-group {
  cursor: pointer;
  padding: var(--padding-smi) var(--padding-4xs) var(--padding-3xs)
    var(--padding-smi);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.frame-inner {
  height: 48px;
  width: 117px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.gallery {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangle-container,
.rectangle-div {
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
}
.rectangle-container {
  cursor: pointer;
  padding: var(--padding-smi) 36px var(--padding-3xs) var(--padding-8xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
}
.rectangle-div {
  height: 48px;
  width: 117px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.contact-me {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-smi) var(--padding-2xs) var(--padding-3xs)
    var(--padding-mini);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 4;
}
.assignments-frame,
.gallery-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.assignments-frame {
  align-self: stretch;
  justify-content: flex-end;
}
.about-me {
  width: 147px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 154.02%;
  display: inline-block;
  white-space: nowrap;
}
.frame-group1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-mediumorchid-100);
  font-family: var(--font-urbanist);
}
.hi-i-am {
  margin: 0;
  white-space: pre-wrap;
}
.blank-line,
.experience-with-the,
.sql-java-and {
  margin: 0;
}
.hi-i-am-container {
  margin: 0;
  width: 1141px;
  height: 125px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 115.52%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.f-r-a-m-e,
.frame-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 1302px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 77px 0;
}
.f-r-a-m-e {
  width: 1426px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: 38px;
  color: var(--color-gainsboro-200);
  font-family: var(--font-urbanist);
}
.comfortable-working-solo,
.perfect-website-pride,
.producing-high-quality-website,
.team,
.understand-the-importance {
  margin: 0;
}
.understand-the-importance-container {
  margin: 0;
  height: 220px;
  width: 669px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 115.52%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.download-c-v-text {
  height: 408.6px;
  width: 408.6px;
  position: absolute;
  margin: 0 !important;
  top: -132px;
  right: 96.4px;
  border-radius: 50%;
  object-fit: contain;
  z-index: 1;
}
.ellipse-shape,
.frame-child1 {
  position: relative;
  box-sizing: border-box;
}
.ellipse-shape {
  width: 1256px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: 35px;
  color: var(--color-gainsboro-200);
  font-family: var(--font-urbanist);
}
.frame-child1 {
  height: 48px;
  width: 159px;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
  display: none;
}
.download-cv {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-xl) var(--padding-2xs) 34px;
  background-color: var(--color-mediumorchid-100);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.rectangle-parent10:hover,
.rectangle-parent1:hover,
.rectangle-parent2:hover,
.rectangle-parent3:hover,
.rectangle-parent4:hover,
.rectangle-parent5:hover,
.rectangle-parent6:hover,
.rectangle-parent7:hover,
.rectangle-parent8:hover,
.rectangle-parent9:hover {
  background-color: var(--color-mediumorchid-200);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.frame-with-two-children {
  width: 381px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.java-script-logo {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frame-with-three-children {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  gap: 34px 0;
  max-width: 100%;
}
.skills {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-weight: 400;
  font-family: inherit;
}
.web-design-grid-layout {
  width: 1204px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-48xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumorchid-100);
  font-family: var(--font-urbanist);
}
.kisspng-java-runtime-environme-icon {
  height: 209px;
  width: 320px;
  position: relative;
  object-fit: cover;
}
.kisspng-mysql-workbench-comput-icon {
  height: 218px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 324px;
  z-index: 1;
}
.java-runtime-env-icon {
  width: 818px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
  max-width: 100%;
}
.png-transparent-html-html-logo-icon {
  height: 209px;
  width: 188px;
  position: relative;
  object-fit: cover;
}
.h-t-m-l-logo-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.html-logo-css3-javascript-web-icon {
  height: 230px;
  width: 239px;
  position: relative;
  object-fit: cover;
}
.png-transparent-javascript-log-icon {
  height: 191px;
  width: 173px;
  position: relative;
  object-fit: cover;
}
.download-c-v-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.h-t-m-l-logo-text-frame {
  width: 757px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-8xl);
  box-sizing: border-box;
}
.h-t-m-l-logo-text-frame,
.my-s-q-l-icon-frame,
.skills-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.my-s-q-l-icon-frame {
  width: 1105px;
  flex-direction: column;
  align-items: center;
  gap: 46px 0;
}
.skills-frame {
  width: 1344px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-28xl);
  box-sizing: border-box;
}
.desktop-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.education {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-weight: 400;
  font-family: inherit;
}
.skills-frame1 {
  width: 1204px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-28xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumorchid-100);
  font-family: var(--font-urbanist);
}
.assignment-frame-icon {
  height: 194px;
  width: 191px;
  position: relative;
  object-fit: cover;
}
.ijse-removebg-preview-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.iconassignmentturnedsuitablefo {
  height: 179px;
  width: 449px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 57px 32px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.download-removebg-preview-1-icon {
  width: 225px;
  height: 225px;
  position: relative;
  object-fit: cover;
}
.group-view-text-frames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.view-group-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child2 {
  height: 48px;
  width: 159px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.view {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.frame-child3,
.rectangle-parent2 {
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
}
.rectangle-parent2 {
  cursor: pointer;
  padding: var(--padding-xs) var(--padding-44xl) var(--padding-2xs)
    var(--padding-39xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child3 {
  height: 48px;
  width: 159px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.view1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-parent3 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-44xl) var(--padding-2xs)
    var(--padding-39xl);
  background-color: var(--color-mediumorchid-100);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon-assignment-turned-inner {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child4 {
  height: 48px;
  width: 159px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.view2 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-parent4 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-44xl) var(--padding-2xs)
    var(--padding-39xl);
  background-color: var(--color-mediumorchid-100);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon-assignment-turned-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.icon-assignment-turned {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.download-removebgpreview {
  width: 1068px;
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.assignment-frame,
.download-remove-b-g-preview-fr,
.download-removebgpreview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.download-remove-b-g-preview-fr {
  flex: 1;
  flex-direction: column;
  gap: 85px 0;
}
.assignment-frame {
  width: 1104px;
  flex-direction: row;
  padding: 0 0 107px var(--padding-mini);
  box-sizing: border-box;
}
.assignmentsline-child {
  margin-left: -13px;
  height: 1px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.assignmentsline {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 25px;
  box-sizing: border-box;
  max-width: 100%;
}
.assignments1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-weight: 400;
  font-family: inherit;
}
.frame-child5 {
  height: 48px;
  width: 159px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.assignment-01 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-parent5 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-mini) var(--padding-2xs)
    var(--padding-16xl);
  background-color: var(--color-mediumorchid-100);
  margin: 0 !important;
  position: absolute;
  bottom: -34px;
  left: calc(50% - 79.5px);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.icon-assignment-turned-suitabl {
  height: 235px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.frame-parent {
  width: 241px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-child6 {
  height: 48px;
  width: 159px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.assignment-02 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-parent6 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-2xs) var(--padding-2xs)
    var(--padding-16xl);
  background-color: var(--color-mediumorchid-100);
  margin: 0 !important;
  position: absolute;
  bottom: -34px;
  left: calc(50% - 79.5px);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.icon-assignment-turned-suitabl1 {
  height: 235px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.frame-container,
.view-assignment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.view-assignment {
  width: 263px;
  flex-direction: column;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.frame-child7 {
  height: 48px;
  width: 159px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.assignment-03 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-parent7 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-2xs) var(--padding-2xs)
    var(--padding-16xl);
  background-color: var(--color-mediumorchid-100);
  margin: 0 !important;
  position: absolute;
  bottom: -34px;
  left: calc(50% - 79.5px);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.icon-assignment-turned-suitabl2 {
  height: 235px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.assignment-text,
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-div {
  width: 241px;
  justify-content: flex-start;
  position: relative;
}
.assignment-text {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.assignments-parent,
.frame-contact-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.assignments-parent {
  flex: 1;
  flex-direction: column;
  gap: 56px 0;
}
.frame-contact-info {
  width: 1204px;
  flex-direction: row;
  padding: 0 var(--padding-4xl) 59px var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumorchid-100);
  font-family: var(--font-urbanist);
}
.frame-child8 {
  height: 48px;
  width: 159px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.assignment-04 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-parent8 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-2xs) var(--padding-2xs)
    var(--padding-16xl);
  background-color: var(--color-mediumorchid-100);
  margin: 0 !important;
  position: absolute;
  bottom: -34px;
  left: calc(50% - 79.5px);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.icon-assignment-turned-suitabl3 {
  height: 235px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.frame-parent1 {
  width: 241px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-child9 {
  height: 48px;
  width: 159px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.assignment-05 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-parent9 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-3xs) var(--padding-2xs)
    var(--padding-16xl);
  background-color: var(--color-mediumorchid-100);
  margin: 0 !important;
  position: absolute;
  bottom: -34px;
  left: calc(50% - 79.5px);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.icon-assignment-turned-suitabl4 {
  height: 235px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.frame-parent2,
.view-assignment1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.view-assignment1 {
  width: 263px;
  flex-direction: column;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.frame-child10 {
  height: 48px;
  width: 159px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumorchid-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.assignment-06 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-parent10 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-2xs) var(--padding-2xs)
    var(--padding-16xl);
  background-color: var(--color-mediumorchid-100);
  margin: 0 !important;
  position: absolute;
  bottom: -34px;
  left: calc(50% - 79.5px);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.icon-assignment-turned-suitabl5 {
  height: 235px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.assignment-text1,
.frame-parent3,
.view-frames {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent3 {
  width: 241px;
  justify-content: flex-start;
  position: relative;
}
.assignment-text1,
.view-frames {
  max-width: 100%;
}
.assignment-text1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.view-frames {
  width: 1204px;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 50px var(--padding-xl);
  box-sizing: border-box;
}
.skills-frame-child {
  height: 1px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.skills-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 71px;
  box-sizing: border-box;
  max-width: 100%;
}
.contact-me1 {
  margin: 0;
  width: 284px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.contacts {
  margin: 0;
}
.nadilsanjula2002gmailcom,
.p {
  margin: 0;
  white-space: pre-wrap;
}
.contacts-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 154.02%;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-white);
}
.contacts-text-group,
.view-text-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contacts-text-group {
  width: 878px;
  flex-direction: column;
  gap: 91px 0;
}
.view-text-group {
  width: 1204px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 108px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumorchid-100);
  font-family: var(--font-urbanist);
}
.f-392719944-l0lyv3e7qozb2tsj3c-icon {
  position: absolute;
  top: 10.3px;
  left: 0;
  width: 327.6px;
  height: 77px;
  object-fit: cover;
}
.maxresdefault-removebg-preview-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 301px;
  max-height: 100%;
  width: 171.7px;
  object-fit: cover;
  z-index: 1;
}
.color-of-the-linkedin-logo-rem-icon {
  position: absolute;
  height: calc(100% - 15.9px);
  top: 10.3px;
  bottom: 5.6px;
  left: 456.8px;
  max-height: 100%;
  width: 114.2px;
  object-fit: cover;
  z-index: 2;
}
.n-a1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.n-a-wrapper {
  height: 108px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.desktop,
.n-a {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.n-a {
  width: 592px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 21px;
  max-width: 100%;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-48xl) 0 83px;
  gap: 75px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .h-t-m-l-logo-frame {
    flex-wrap: wrap;
  }
  .download-remove-b-g-preview-fr {
    gap: 85px 0;
  }
  .assignment-frame {
    max-width: calc(100% - 15px);
  }
}
@media screen and (max-width: 1025px) {
  .hi-i-am-container {
    font-size: 30px;
    line-height: 35px;
  }
  .understand-the-importance-container {
    font-size: 28px;
    line-height: 32px;
  }
  .education,
  .skills {
    font-size: var(--font-size-13xl);
    line-height: 49px;
  }
  .view-group-frame {
    flex-wrap: wrap;
  }
  .assignments1 {
    font-size: var(--font-size-13xl);
    line-height: 49px;
  }
  .assignment-text,
  .assignment-text1 {
    flex-wrap: wrap;
  }
  .contact-me1,
  .contacts-container {
    font-size: var(--font-size-13xl);
    line-height: 49px;
  }
  .contacts-text-group {
    gap: 91px 0;
  }
}
@media screen and (max-width: 750px) {
  .frame-group {
    gap: 77px 0;
  }
  .frame-with-three-children {
    gap: 34px 0;
  }
  .kisspng-java-runtime-environme-icon {
    flex: 1;
  }
  .download-c-v-button,
  .java-runtime-env-icon {
    flex-wrap: wrap;
  }
  .my-s-q-l-icon-frame {
    gap: 46px 0;
  }
  .skills-frame {
    padding-bottom: 31px;
    box-sizing: border-box;
  }
  .icon-assignment-turned {
    flex-wrap: wrap;
  }
  .download-remove-b-g-preview-fr {
    gap: 85px 0;
  }
  .assignment-frame {
    padding-bottom: var(--padding-51xl);
    box-sizing: border-box;
  }
  .assignments-parent {
    gap: 56px 0;
  }
  .n-a {
    max-width: calc(100% - 21px);
  }
  .desktop {
    gap: 75px 0;
  }
}
@media screen and (max-width: 450px) {
  .hi-i-am-container {
    font-size: 23px;
    line-height: 26px;
  }
  .frame-group {
    gap: 77px 0;
  }
  .understand-the-importance-container {
    font-size: 21px;
    line-height: 24px;
  }
  .assignments1,
  .education,
  .skills {
    font-size: var(--font-size-5xl);
    line-height: 37px;
  }
  .frame-contact-info {
    padding-bottom: 38px;
    box-sizing: border-box;
  }
  .contact-me1,
  .contacts-container {
    font-size: var(--font-size-5xl);
    line-height: 37px;
  }
  .contacts-text-group {
    gap: 91px 0;
  }
  .view-text-group {
    padding-bottom: var(--padding-51xl);
    box-sizing: border-box;
  }
  .desktop {
    gap: 75px 0;
  }
}
